@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nanum+Pen+Script&display=swap')

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
*{margin: 0;padding: 0;box-sizing: border-box; font-family: "Nanum Pen Script", cursive;}

:root{
    color-scheme: light dark;
}
body{
    background-color: light-dark(rgb(255, 205, 148), rgb(90, 39, 39));
    color: light-dark(rgb(206, 57, 52), black);
}
#titulo{
    border: 4px solid white;
    background-color: rgb(187, 151, 221);
}
#c1{
    width: 50px;
    border: 3px solid white;
    background-color: burlywood;
    display: flex;
    align-items: center;
}
#carta{
    width: 300px;
    display: flex;
    align-items: center;
    border: 5px solid white;
}
#p{
    border: 2px solid rgb(231, 206, 158);
    background-color: bisque;
}
a{
    border: 10px solid white;
    align-items: center;
    background: wheat;
    color: rgb(133, 119, 57);
    width: 200px;
    height: 30px;
}